@{
    ViewBag.Title = "TestApp: Подтверждение Email";
}

<div>
    <p>
        Ваш email подтвержден. @Html.ActionLink("Нажмите сюда", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
