@{
    ViewBag.Title = "TestApp: Восстановление пароля";
}

<hgroup class="title">
    <h1>Восстановление пароля</h1>
</hgroup>
<div>
    <p>
        Мы отправили вам сообщение на указанный email с информацией по восстановлению пароля.
    </p>
</div>
	
