@{
    ViewBag.Title = "TestApp: Подтверждение сброса пароля";
}

<hgroup class="title">
    <h1>Сброс пароля</h1>
</hgroup>
<div>
    <p>
        Сброс пароля выполнен. @Html.ActionLink("Нажмите сюда", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
