@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "TestApp: Блокировка";
}

<hgroup>
    <h1 class="text-danger">Аккаунт временно заблокирован.</h1>
    <h2 class="text-danger">Этот аккаунт был временно заблокирован, попробуйте войти позже.</h2>
</hgroup>
