@model int
@{
    ViewBag.Title = "TestApp: Заказ оформлен";
}

@if (Model != null && Model > 0) { 
    <h2 class="text-success">Заказ № @Model принят</h2>
}
<p>На указанный вами адрес электронной почты отправленно письмо с информацией о заказе</p>

<a href="/">Вернуться на главную</a>